header p{
    font-size: 1.7em;
    color: whitesmoke;
}

header{
    background-color: rgb(53, 58, 64);
}

header a{
    text-decoration: none;
    color: rgb(154, 158, 161);
}

header a:hover{color: whitesmoke;}
.nav-item a:hover{color: whitesmoke;}
.nav-item a{color: rgb(154, 158, 161);}

.card-body button{
    Font-size: smaller;
}

#lugar {background-color: rgb(53, 58, 64);}